<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/images/eather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Sasi.It uses data from mapbox.com and Weather</p>
    <img class="portrait" src="/images/sample.png">
    </div>
     {{>footer}}
</body>
</html>